<div class="cards">
  <mat-card class="org-card">
    <mat-card-header>
      <mat-card-title>{{ organization.org_name }}</mat-card-title>
      <mat-card-subtitle>{{ organization.org_created_at }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <strong>Status:</strong>
        {{ organization.isActive ? "Active" : "Inactive" }}
      </p>
      <mat-divider></mat-divider>
      <h3>Locations</h3>
      <div *ngFor="let location of organization.org_location">
        <h6>{{ location.loc }}</h6>
        <p><strong>Address:</strong> {{ location.address }}</p>
        <p><strong>Email:</strong> {{ location.loc_email }}</p>
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <p><strong>Last Updated:</strong> {{ organization.org_updated_at }}</p>
    </mat-card-footer>
  </mat-card>
</div>
