/*.customer-card {
    max-width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
  
    .mat-card-header {
      display: flex;
      align-items: center;
  
      .card-avatar img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  
    .mat-card-title,
    .mat-card-subtitle {
      text-align: left;
    }
  }
  
  @media (min-width: 768px) {
    .customer-card {
      max-width: 45%;
    }
  }
  
  @media (min-width: 1024px) {
    .customer-card {
      max-width: 30%;
    }
  }
  */

.cards {
  padding: 10px;
}

.org-card {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff0f6;
  flex-basis: 25%;
}

mat-card-header {
  background-color: #e91e63;
  color: white;
  padding: 16px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

mat-card-subtitle {
  color: #f8bbd0;
  font-size: 0.875rem;
}

mat-card-content {
  padding: 10px;
}

mat-divider {
  margin: 8px 0;
  background-color: #e91e63;
}

h3,
h4 {
  color: #880e4f;
}

p {
  font-size: 0.95rem;
  margin: 4px 0;
}

mat-card-footer {
  background-color: #fce4ec;
  padding: 10px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: right;
}

p strong {
  color: #880e4f;
}

h6 {
  margin-top: 8px;
  font-weight: 500;
}

h3 {
  font-weight: 600;
  font-size: 1.25rem;
}
