.mat-card-title{
  font-weight: 900;
}
.image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZMog9dB4vSQs1MwDKStNYo_lHZmKEwal1bg&s');
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.status-active {
  color: green; 
  font-weight: bold;
}

.status-inactive {
  color: red; 
  font-weight: bold;
}
.mat-card-title,
.mat-card-subtitle {
  font-weight: 600;
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}

.edit-button,
.delete {
  margin: 8px;
  margin-bottom: 8px;
}

.edit-button{
  background-color: green;
  color: white;
}

.delete{
  background-color: #E43E38;
  color: white;
}



