<div class="login-container">
  <ng-container
    *ngIf="isPasswordResetLinkSent; else forgotPasswordFormTemplate"
  >
    <ng-template #successMessage>
      <div class="success-message">
        <p>
          A password reset link has been sent to your email. Please check your
          inbox!
        </p>
      </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="successMessage"></ng-container>
  </ng-container>
  <ng-template #forgotPasswordFormTemplate>
    <mat-card class="login-card my-custom-card">
      <!-- <mat-card-header>Forgot Password </mat-card-header> -->
      <mat-card-content>
        <h3>
          Forgot Password? Please enter your email to get reset password link
        </h3>
        <form [formGroup]="forgotPasswordForm" class="form">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              placeholder="Enter your email"
              type="email"
            />
            @if(isEmailInvalid){
            <mat-error>Please enter valid email</mat-error>
            }
          </mat-form-field>
          <button
            mat-stroked-button
            class="mat-mdc-button"
            type="submit"
            (click)="forgotPassword()"
          >
            click to get password Reset link
          </button>
          <mat-error>{{ errorMessage }}</mat-error>
        </form>
        <mat-card-footer>
          Already have an account?
          <a class="hyperlink" routerLink="/sign-up"> Login</a>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
