<form
  [formGroup]="organizationForm"
  (ngSubmit)="onSubmit()"
  class="form-container"
>
  <h3 class="form-heading">Manage Organization</h3>

  <mat-form-field appearance="outline">
    <mat-label>Organization Name</mat-label>
    <input formControlName="org_name" matInput [readonly]="viewMode" />
    <mat-error>
      {{ errorMessageOrgName }}
    </mat-error>
  </mat-form-field>

  <div formArrayName="org_location">
    <div
      *ngFor="let loc of locations.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-expansion-panel
        [expanded]="i === 0 || !loc.get('collapsed')?.value"
        (opened)="setCollapsedValue(i, false)"
        (closed)="setCollapsedValue(i, true)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>{{
            loc.get("loc")?.value || "Location"
          }}</mat-panel-title>
          <mat-panel-description>{{
            loc.get("loc_email")?.value
          }}</mat-panel-description>
          <mat-panel-description>{{
            loc.get("loc_contact")?.value
          }}</mat-panel-description>
          @if(locations.length > 1 && !viewMode){
          <button mat-icon-button color="warn" (click)="removeLocation(i)">
            <mat-icon>delete</mat-icon>
          </button>
          }
        </mat-expansion-panel-header>
        <div>
          <table class="location-table">
            <tr>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Branch Name</mat-label>
                  <input matInput formControlName="loc" [readonly]="viewMode" />
                  <mat-error>
                    {{ errorMessageLoc(i) }}
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Contact Number</mat-label>
                  <input
                    matInput
                    formControlName="loc_contact"
                    [readonly]="viewMode"
                    type="number"
                  />
                  <mat-error>
                    {{ errorMessageContact(i) }}
                  </mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    formControlName="loc_email"
                    type="email"
                    [readonly]="viewMode"
                  />
                  <mat-error>
                    {{ errorMessageEmail(i) }}
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr class="row-spacing">
              <td colspan="3">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Address</mat-label>
                  <input
                    matInput
                    formControlName="address"
                    [readonly]="viewMode"
                  />
                  <mat-error>
                    {{ errorMessageAddress(i) }}
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </mat-expansion-panel>
    </div>
  </div>

  @if(!viewMode){
  <mat-card-footer class="footer-buttons">
    <button
      mat-raised-button
      type="button"
      (click)="addLocation()"
      class="add-location-button"
    >
      Add Location <mat-icon>add</mat-icon>
    </button>
    <button mat-raised-button type="submit" class="submit-button">
      Submit
    </button>
  </mat-card-footer>
  }
</form>
