
<mat-grid-list [cols]="cols" rowHeight="300px" class="footer-grid">
    <mat-grid-tile>
        <div>
            <h4>About Us</h4>
            <p>Our company is providing online food delivery at customers place.</p>
        </div>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <div class="info">
            <h4>Contact</h4>
            <div>Email: contact.com</div>
            <div>Phone: (123) 456-7890</div>
        </div>     
    </mat-grid-tile>
    
    <mat-grid-tile>
        <div class="info">
            <h4>Follow Us</h4>
            <div class="social-media-links">
                <a mat-icon-button href="https://www.facebook.com" target="_blank" aria-label="Facebook">
                    <mat-icon>facebook</mat-icon>
                </a>
                <a mat-icon-button href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
                    <mat-icon>linkedin</mat-icon>
                </a>
            </div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
  
  

