.dashboard{
    display: flex;
    justify-content: center;
}

.box{
    width: 200px;
    height: 200px;
    background-color: crimson;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px;
}