mat-toolbar {
  position: relative;
  z-index: 5;
  background-color: #e43e38;
}

.content {
  padding: 24px;
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(240, 238, 238);

  overflow-y: auto;
  height: calc(100vh-56px);
}

mat-sidenav-container {
  height: 100vh;
}

.space-between {
  flex: 1 1 auto;
}

.mat-button {
  border-radius: 10px;
  background-color: white;
}

.mat-sidenav {
  border-radius: 0px;
  transition: width 0.3s ease;
  /* background-color: #e43e38; */
  color: white;
}

/* .label {
  color: white;
} */

.tiffin-title {
  font-family: Futura, Avenir, sans-serif;
  font-weight: bold;
}

.tiffin-title-black {
  color: black;
}

.tiffin-title-white {
  color: white;
}
