<mat-toolbar class="mat-elevation-z3"
  ><button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon style="background-color: white">menu</mat-icon>
  </button>
  <span>Tiffin Services</span>
  <span class="example-spacer"></span>
  <button
    mat-raised-button
    style="border-radius: 10px; background-color: white; color: black"
    routerLink="/login"
  >
    Login
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    opened
    mode="side"
    [style.width]="sidenavWidth()"
    style="border-radius: 0px; transition: width 0.3s ease"
  >
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of menus()"
        [routerLink]="item?.redirectURL"
      >
        <mat-icon style="color: black" matListItemIcon>{{
          item.icon
        }}</mat-icon>
        <span style="color: black" matListItemTitle>{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    class="content"
    [style.margin-left]="sidenavWidth()"
    style="color: black"
    ><router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
