.logo-container {
    display: flex;
    align-items: center; 
}

.logo {
    height: 50px; 
    width: 40px;  
    border-radius: 50%; 
    margin-right: 10px; 
}

@media (max-width: 768px) {
    .example-sidenav {
      width: 200px;
    }
    mat-toolbar {
      justify-content: space-between;
    }
  }

  .example-container {
    height: 100%;
  }
  
  .example-sidenav {
    width: 250px;
    background-color: #3f51b5;
    border-radius: 0px;
  }
  
  .content {
    padding: 20px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar {
    background: #3f51b5;
    color: white;
  }
  

  
  