<!-- <div class="dashboard">
  <div class="box1">Pending requests</div>
  <div class="box2">Approved Requests</div>
  <div class="box3">Rejected Requests</div>
</div>

<div class="dashboard">
  <div class="box">
    <h3>Total Orders for the Year</h3>
    <p>{{ getTotalOrders() }}</p>
  </div>

  <div class="box">
    <h3>Monthly Tiffin Orders</h3>
    <table>
      <tr>
        <th>Month</th>
        <th>Orders</th>
      </tr>
      <tr *ngFor="let order of monthlyOrders">
        <td>{{ order.month }}</td>
        <td>{{ order.orders }}</td>
      </tr>
    </table>
  </div>
</div> -->

<!-- <div class="dashboard">
  <div
    class="box1"
    style="display: flex; justify-content: center; align-items: center"
  >
    <span>Pending requests:{{ pendingCount }}</span>
  </div>
  <div class="box2">Approved Requests</div>
  <div class="box3">Rejected Requests</div>
</div> -->
<h2 style="display: flex">Welcome superadmin</h2>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h4>Total Approved Admins</h4>
        <p>{{ totalAdmins.approved }}</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <h4>Total Rejected Admins</h4>
        <p>{{ totalAdmins.rejected }}</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <h4>Total Pending Admins</h4>
        <p>{{ totalAdmins.pending }}</p>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h4>Admins per Month</h4>
      <div class="table-container">
        <table class="table">
          <thead>
            <tr>
              <th>Category</th>
              <th *ngFor="let admin of monthlyAdmins">{{ admin.month }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Approved</td>
              <td *ngFor="let admin of monthlyAdmins">{{ admin.approved }}</td>
            </tr>
            <tr>
              <td>Rejected</td>
              <td *ngFor="let admin of monthlyAdmins">{{ admin.rejected }}</td>
            </tr>
            <tr>
              <td>Pending</td>
              <td *ngFor="let admin of monthlyAdmins">{{ admin.pending }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
