.displayCard {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 20px;
  justify-content: center;
}
.mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
  position: relative;
  top: -10px !important ;
}


