html,
body{
    height: 100%;
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    /* align-self: center; */
    justify-content: center;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(19, 20, 20);
    width: 300px;
}
.butn{
    /* display: flex; */
    margin-top: 8px;
    justify-content: center;
}
mat-card{
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0.1, 0.1, 0.1, 0.1);
    background-color: white; /* Subtle background for the card */
    max-width: 600px;
    width: 90%;
    justify-content: center;
    align-items: center;
}
mat-error{
    color: red;
}
mat-form-field{
    margin-bottom: 15px;
    width: 250px;
}

  