<div class="dialog-body">
  <h3 mat-dialog-title>{{ data.title }}</h3>
  <div mat-dialog-content>
    <p>{{ data.message }}</p>
    @if (data.includeMessage) {
    <mat-form-field appearance="fill">
      <mat-label>Enter your message</mat-label>
      <textarea
        matInput
        [(ngModel)]="userMessage"
        placeholder="Type your message here"
      ></textarea>
    </mat-form-field>
    }
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" style="color: black;">No</button>
    <button mat-button color="primary" (click)="onYesClick()"style="color: black;">Yes</button>
  </div>
</div>
