/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
.login-page {
  display: flex;
  /* width: 600px; */
  align-items: center;
  justify-content: center;
}
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.button {
  margin-top: 8px;
  justify-content: center;
}
