:root {
  --primary-color: #e43e38;
  --accent-color: #f0f0f0;
  --warn-color: #ff0000;
  --background-color: #f0f0f0;
}

.mat-primary {
  color: var(--primary-color) !important;
}
.mat-accent {
  color: var(--accent-color) !important;
}
.mat-warn {
  color: var(--warn-color) !important;
}
.mat-background {
  background-color: var(--background-color) !important;
}

body,
.mat-app-background {
  background-color: var(--background-color) !important;
}

.mat-button.mat-primary {
  background-color: var(--primary-color) !important;
  color: white;
}
.mat-button.mat-accent {
  background-color: var(--accent-color) !important;
  color: black;
}
.mat-button.mat-warn {
  background-color: var(--warn-color) !important;
  color: white;
}
