<div class="reset-password-container">
  <h2>Reset Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <label for="password">New Password</label>
    <input id="password" type="password" formControlName="password" />
    <div
      *ngIf="
        resetPasswordForm.get('password')?.invalid &&
        resetPasswordForm.get('password')?.touched
      "
    >
      <small *ngIf="resetPasswordForm.get('password')?.hasError('required')"
        >Password is required.</small
      >
      <small *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">
        Password must be at least 8 characters long.
      </small>
    </div>
    <button type="submit" [disabled]="resetPasswordForm.invalid">
      Reset Password
    </button>
  </form>
  <div *ngIf="message" class="success-message">{{ message }}</div>
  <div *ngIf="error" class="error-message">{{ error }}</div>
</div>
